.supportus-wrapper {
  @include content;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    .supportus-text {
      grid-column: 1/1;
    }
  }

  p {
    margin-bottom: 20px;
  }
}

.supportus-form {
  display: flex;
  flex-direction: column;

}

