.contactus-wrapper {
  @include content;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    .contactus-text {
      grid-column: 1/1;
      margin: 0 auto;

    }

  }
}

.contactus-form {
  display: flex;
  flex-direction: column;
}


.contactus-fejk-logo {
  filter: invert(100%);
  width: 250px;
  padding: 40px;
}
