html {
  font-family: $font-main;
  color: $text-color;
}

h1 {
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-shadow: $shadow-text;
  margin-bottom: 20px;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-shadow: $shadow-text;
  margin: 20px;
}
h3 {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  margin: 20px;
}
h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 15px 0;
  letter-spacing: 0.2rem;
}
p {
  line-height: 1.5rem;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  line-height: 1.7;
  font-size: 0.8rem;
  font-weight: bold;
  color: $text-color;
  &:hover {
    text-shadow: $shadow-text;
  }
  &:active {
    border: none;
  }
}
