@mixin content {
  width: 100%;
  margin: 20px auto;
  box-shadow: $shadow-box;
  background-image: linear-gradient(45deg, $color-main, $color-second);
  padding: 10px 10px 30px 10px;
}

%inputs {
  background: none;
  border: none;
  border-bottom: 1px solid $color-second;
  border-left: 1px solid $color-second;
  color: $text-color;

}

label {
  margin: 10px;
}

.input {
  padding: 5px;
  @extend %inputs;

  &:focus {
    background: none;
  }
}

textarea {
  width: 100%;
  min-height: 80px;
  font-size: 1rem;
  @extend %inputs;
}