//$color-main: #2a6691;
//$color-second: #327d52;
$color-main: #222222;
$color-second: #2a6691;

// fonts
$text-color: #fff;
$font-main: 'Raleway', sans-serif;
$shadow-text: 1px 1px 5px #000;

$button-give: #A43434;
$border-bottom: 3px solid $text-color;

$shadow-box:  0 0 10px rgba(0, 0, 0, 0.5);

$width-page: 1100px;
$nav-height: 100px;

$phone: 400px;
$tablet: 750px;
$desktop: 1000px;