.btn-support {
  font-family: $font-main;
  font-size: 15px;
  text-decoration: none;
  background: $button-give;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
  width: 250px;
  text-align: center;

  &:hover {
    background: darken($button-give, 10%);
    box-shadow: $shadow-box;
  }
}

.button-see {
  color: $text-color;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid rgba($text-color, 0.3);
  display: block;
  margin: 20px 0;
  padding: 10px;
  width: 80%;
  box-shadow: $shadow-box;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  &:hover {
    background: lighten($color-second, 5%);
  }
  &:active {
    bottom:3px;
    left: 52%;
  }
}


.btn-submit {
  width: 100%;
  height: 50px;
  display: block;
  background-color: $color-second;
  color: $text-color;
  border: 1px solid rgba($text-color, 0.3);
  box-shadow: $shadow-box;
  border-radius: 5px;
  margin: 20px 0;

  &:hover {
    background-color: lighten($color-second, 5%);
  }

  &:active {
    bottom: 3px;
    left: 52%;
  }

  &:focus {
    border-color: black;
  }
}