@import "config/reset";
@import "config/variables";
@import "config/mixins";
@import "config/fonts";
@import "config/grid";
@import "config/errors";

@import "elements/buttons";

@import "../components/NavBar/navBar";
@import "../components/Header/header";
@import "../components/Swiper/slide";
@import "../components/AboutUs/aboutus";
@import "../components/SupportUs/supportus";
@import "../components/Footer/footer";


@import "config/mediaQueries";


body {
  background: url("../images/gravel.png");
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $text-color;
  transition: background-color 5000s ease-in-out 0s;
}